html {margin: 0; height: 100%; overflow: initial;}
body.noScroll{overflow: hidden;}
body{
  background: #e9dacb;  
}

.ftco-section {
  padding: 1em 0;
  position: relative;
}

.menus {

  border-radius: 5px;
  transition: all 0.3s ease;
  background: #FFF;

  padding: 10px !important;
  display: flex !important;
  flex-direction: column;
  width: 300px;  
  margin:  auto;
  border: 1px solid #c0c0c0;
  box-shadow: 1px 1px 3px #d0d0d0;  

}

.menus .text {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

.menus .text .one-half {
  width: calc(100% - 80px);
}

.menus .text .one-half h3 {
  font-size: 24px;
  font-weight: 500;
}

.menus .text .one-forth {
  width: 80px;
  text-align: right;
}

.menus .text .one-forth .price {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.2);
  color: #ff4141;
  font-weight: 600;
  line-height: 1.3;
  transition: all 0.3s ease;
}

.menus .text p {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.8);
}
.menus .menu-img {
    width: calc(100% + 20px);
    height: 100%;
    margin: -10px;
    border-radius: 5px 5px 0px 0px;
}

.menus:hover {
  /*border: 1px solid #ff2377;*/
  background: #fff;
  /*background: linear-gradient(
    235deg,
    rgb(239 191 191) 30%,
    rgb(239 191 191) 30%
  );*/
}

/*.menus:hover .text .one-forth .price {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}
*/
.menus:hover .text p {
  color: rgba(0, 0, 0, 0.8);
}

.img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/*button css*/
.button {
  border-radius: 4px;
  background-color: #ff4140;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
.subheading {
  font-size: 80px;
  color: #000;
  font-weight: normal;
  margin-bottom: 0;
  line-height: 1;
  font-family: "Great Vibes", cursive;
}
.subheading-special{
      font-size:  50px !important;
}
.colorRed{
  color:red;
}
.red{
  color:#f70505;
}
/*freeze and loading*/
.freezeLayer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.2);
    z-index: 2;
}
.freezeBackground{
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    height: auto;
    background: #00000077;
}
.loadgif{
    display: none;
    top: 340px;
    left: 650px;
    position: absolute;
    z-index: 5;
}
.loadfreeze{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .9;
    z-index: 5;
    height: auto;
    background: #000;
    opacity: .5;
}
.dN{
    display: none;
}
.productdN{
    display: none !important;
}
/*form css*/
.leaveMsg {    
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: #fff;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #eee;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    min-width: 550px;
}
.orderSuccessPop{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  background-color: #fff;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #eee;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);  
}
.orderSuccessPopBtn {
  border-radius: 4px;
  background-color: #ff4140;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 21px;
  padding: 6px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.orderAndpPayNowBtn {
  border-radius: 4px;
  background-color: #ff4140;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 170px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.freezeBackgroundPopBtn{
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .9;
    z-index: 4;
    height: auto;
    background: #000;
    opacity: .5;
}
.menuhover:hover {
  position: relative;
  transition: .5s;
  top: -4px;
}
/*mobile end*/
@media (max-width: 768px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
}
@media (min-width: 859px){
  .descFontWeight{
    height: 78px;
    overflow: hidden;
  }
  .hidden-sm{
    display: none;
  }
}
@media (max-width: 858px){
  .container-fluid .menus{
    flex: 0 0 100% !important;
    margin: 25px 0px !important;    
  }
  .descFontWeight{
    font-size: 20px;
    height: 80px;
    overflow: hidden;
  }
  .mobile-floating-logo{
    width: 200px !important;    
    margin-top:  0px !important;
    margin-left:  10px !important;
  }
  .mobile-logo{
    width: 200px !important;
    margin-top:  10px !important;
  }
   .mobile-menu{
      flex:  0 0 100%;
      max-width: 100%;
   }
  .intro_content{
    right: 0px;
  }
  .subheading-special{
      font-size:  50px !important;
  }
  .leaveMsg{  
      min-width: calc(100% - 40px) !important;
      height: calc(100% - 40px);
      overflow: auto;
  }
  .orderSuccessPop{  
      min-width: calc(100% - 90px) !important;
      /*height: calc(100% - 40px);*/
      overflow: auto;
  }
  .hidden-xs{
    display: none;
  }
  .checkbtn{
    display: block;
  }
  .mobile-aboutus{
    flex-direction: column;
  }
  .intro_col{
    margin-bottom: 10px;
  }
  .mobile-aboutus .testimony-wrap{
    width: calc(100% - 40px);
    margin: 0px 20px;
  }
  .ftco-counter{
    padding-top: 0px;
  }
  .ftco-counter .text{
    text-align: center;
  }
  .mobile-websitestory{
    margin-top: 20px;
  }
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ffeaea;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    padding-left: 0px;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 18px !important;
    color: #333 !important;
    font-weight: 400;
  }
  a:hover,a.active{
    background: none;
    color: #000000;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
.container-fluid .menus{
    flex: 0 0 calc(25% - 50px);
    margin: 25px 25px;  
}
.sortby{   
    margin: 6px 6px 0 40px;
    text-align: center;
    text-indent: 10px;
}

/*badge effects*/
.bestsellerbadge{
    position: absolute;
    top: 0px;
    right: -10px;
    background-color: #ff4140;
    padding: 6px;
    border-radius: 10px 0 0 10px;
    font-weight: bold;
    font-size: 12px;
    color: white;
}
.bestsellerbadge:after {
    position: absolute;
    top: 100%;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #ff4140;
    content: '';
}
.premiumbadge {
    position: absolute;
    top: 0px;
    right: -10px;
    background-color: #fdbc20;
    padding: 6px;
    border-radius: 10px 0 0 10px;
    font-weight: bold;
    font-size: 12px;
    color: white;
}
.premiumbadge:after {
    position: absolute;
    top: 100%;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fdbc20;
    content: '';
}
.newarrivalbadge {
    position: absolute;
    top: 0px;
    right: -10px;
    background-color: #71a95a;
    padding: 6px;
    border-radius: 10px 0 0 10px;
    font-weight: bold;
    font-size: 12px;
    color: white;
}
.newarrivalbadge:after {
    position: absolute;
    top: 100%;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #71a95a;
    content: '';
}
.wave-effect:before {
    content:'';
    top:0;
    left: 0;                  
    height: 20px;
    width: 20px;
    position: absolute;
    animation: slide 1.1s infinite;
    animation-iteration-count:4;
    position: absolute;
    background: #fff;               
    filter: blur(6px);                         
    opacity:0.5;
}
@keyframes slide {
    0% {transform:translateX(5px);}
    100% {transform:translateX(60px);}
} 
.notfound{
  width:100px;
} 
#noResultsDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transform: translate(-50%);
  margin-left: calc(50% - 50px);
  margin-top: 70px;
}

#noResultsDiv.dN{
  display: none;  
}

@media (max-width: 768px){

  #productList{
    justify-content: center;
  }
  .sort-filter-dropdown{
    margin-top: 60px;
  }
}

.sort-filter-dropdown{
  display: flex;
}

#submit-button[disabled]{
  cursor: default;
  background-color: #ff414085;
}

.proList{
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;  
}
.proList:hover{
  transform: translate(0px, -5px);
}


/* invoice css*/
.invoice-box {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  /* border: 1px solid #eee; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 24px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  color: #555;
}
.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

.invoice-box table td {
    padding: 5px;
    vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
    text-align: right;
}

.invoice-box table tr.top table td {
    padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
}

.invoice-box table tr.information table td {
    padding-bottom: 40px;
}

.invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.invoice-box table tr.details td {
    padding-bottom: 20px;
}

.invoice-box table tr.item td {
    border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
    border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }

    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }
    .invoice-box .top table tr td:nth-child(2),
    .invoice-box .information table tr td{
      text-align: left !important;
    }
}

/* invoice footer */
.footer-copyright{
  text-align: center;
  color:#000;
}
@media (max-width: 768px){
  .payment-icon-list {
      justify-content: center;
  }
}
.payment-icon-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: calc(var(--gutter)/2) -5px -10px;
    line-height: 0;    
    padding: 10px;
    justify-content: center;
}