html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.navbar-brand {
  font-weight: 900;
  font-size: 20px;
}

/*carousel css starts */
.owl-carousel {
  position: relative;
}
.owl-carousel .owl-item {
  opacity: 0.4;
}

.owl-carousel .owl-item.active {
  opacity: 1;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  transform: translateY(-50%);
  margin-top: -10px;
  color: #c8a97e !important;
  transition: all 0.7s ease;
  opacity: 0;
}

.owl-carousel .owl-nav .owl-prev span::before,
.owl-carousel .owl-nav .owl-next span::before {
  font-size: 30px;
}

.owl-carousel .owl-nav .owl-prev {
  left: 0;
}
.owl-carousel .owl-nav .owl-next {
  right: 0;
}

.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next {
  opacity: 1;
}

.owl-carousel:hover .owl-nav .owl-prev {
  left: -25px;
}
.owl-carousel:hover .owl-nav .owl-next {
  right: -25px;
}

.owl-carousel.home-slider {
  position: relative;
  height: 750px;
  z-index: 0;
}

.owl-carousel.home-slider .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 750px;
  position: relative;
  z-index: 0;
}

.owl-carousel.home-slider .slider-item .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  opacity: 0.7;
}

.owl-carousel.home-slider .slider-item .slider-text {
  color: #ffffff;
  height: 750px;
  text-align: right;
}

.owl-carousel.home-slider .slider-item .slider-text .subheading {
  font-size: 80px;
  color: #c8a97e;
  font-weight: normal;
  margin-bottom: 0;
  line-height: 1;
  font-family: "Great Vibes", cursive;
}

.owl-carousel.home-slider .slider-item .slider-text h1 {
  font-size: 60px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1.5;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Poppins", cursive;
}

.owl-carousel.home-slider .owl-nav .owl-prev span,
.owl-carousel.home-slider .owl-nav .owl-next span {
  color: #ffffff;
}

.owl-carousel.home-slider:hover .owl-nav .owl-prev span,
.owl-carousel.home-slider:hover .owl-nav .owl-next span {
  opacity: 1;
}

.owl-carousel.home-slider:hover .owl-nav .owl-prev {
  left: 20px;
}

.owl-carousel.home-slider:hover .owl-nav .owl-next {
  right: 20px;
}
.owl-custom-nav .owl-custom-prev,
.owl-custom-nav .owl-custom-nav {
  padding: 10px;
  font-size: 30px;
  background: #ccc;
  line-height: 0;
  width: 60px;
  text-align: center;
  display: inline-block;
}
/*carousel css ends */
.img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/*About Section css starts*/
.ftco-wrap-about {
  background-position: bottom center !important;
}
.ftco-wrap-about .heading-section h2 {
  font-weight: 600 !important;
}

.ftco-wrap-about .img {
  width: 100%;
}

.intro {
  width: 100%;
  background: #ffffff;
  padding-top: 102px;
  padding-bottom: 0px;
}

.intro_image {
  width: 100%;
}

.intro_image img {
  max-width: 100%;
}

.intro_content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -50px;
  width: 500px;
  background: #ffffff;
  border: solid 2px #FF4141;
  box-shadow: 0px 45px 70px rgba(0, 0, 0, 0.24);
  z-index: 1;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.intro_subtitle {
  font-size: 28px;
  font-family: "Poppins";
}

.intro_title {
  margin-top: 6px;
  font-family: "Great Vibes", cursive;
  color: #FF4141;
  font-weight: 600;
}

.intro_title h2 {
  font-size: 40px;
}

.intro_text {
  margin-top: 32px;
  font-size: 14px;
}
/*About Section css ends*/

.ftco-animate {
  opacity: 0;
  visibility: hidden;
}

#section-counter {
  margin-top: 50px;
  position: relative;
  z-index: -1;
}

#section-counter::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: -1;
  opacity: 0;
  background: #000000;
}

.ftco-counter {
  padding-bottom: 5em;
  background-position: center center !important;
}

.ftco-counter .block-18 {
  display: block;
  width: 100%;
}

.ftco-counter .text strong.number {
  font-weight: 600;
  font-size: 44px;
  color: #ff4140;
  display: block;
  line-height: 1;
}

.ftco-counter .text span {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
}

.ftco-counter p {
  line-height: 1.8;
  font-size: 18px;
}

.ftco-section {
  padding: 7em 0;
  position: relative;
}

.heading-section {
  position: relative;
}

.heading-section .subheading {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  font-weight: normal;
  font-size: 50px;
  display: block;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.2);
  color: #c8a97e;
  /*line-height: 1;*/
  margin-top: 0;
  z-index: -1;
  font-family: "Great Vibes", cursive;
}

.heading-section h2 {
  font-size: 50px;
  font-weight: 900;
  line-height: 1.2;
}

.menu-wrap {
  margin-bottom: 0;
}

.heading-menu h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 1em;
}

.menus {
  width: 100%;
  margin-right: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding: 30px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  background: #FFF;
}

.menus .text {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

.menus .text .one-half {
  width: calc(100% - 80px);
}

.menus .text .one-half h3 {
  font-size: 24px;
  font-weight: 500;
}

.menus .text .one-forth {
  width: 80px;
  text-align: right;
}

.menus .text .one-forth .price {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.2);
  color: #ff4141;
  font-weight: 600;
  line-height: 1.3;
  transition: all 0.3s ease;
}

.menus .text p {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.8);
}
.menus .menu-img {
    width: calc(100% + 20px);
    height: 100%;
    margin: -10px;
    border-radius: 5px 5px 0px 0px;
}
.container-fluid{
  display: flex;
  flex-basis: 25%;
  flex-wrap: wrap;
  margin-top: 100px;
}
.container-fluid a{
  flex: 0 0 25%;
  margin-bottom: 50px;
}

.menus{
  border: 1px solid #c0c0c0;
  box-shadow: 1px 1px 3px #d0d0d0;  
}
.menus .category-title{
    font-size: 18px;
    font-weight: 600;  
    margin-bottom: 5px;
}
.count-badge{
    background-color: red;
    padding: 2px 4px;
    color: white;
    border-radius: 5px;  
    margin: 0px 5px;
    font-size: 15px;    
    height: 23px;
}

.menus:hover .text .one-forth .price {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

.menus:hover .text p {
  color: rgba(0, 0, 0, 0.8);
}

.heading-section.heading-section-white .subheading {
  color: #c8a97e;
}
.heading-section.heading-section-white h2 {
  color: #ffffff;
}
.heading-section.heading-section-white p {
  color: rgba(255, 255, 255, 0.9);
}


/* footer section starts*/

.ftco-bg-dark {
  background: #3c312e;
}
.ftco-footer {
  font-size: 14px;
  background: #ffeaea;
  padding: 50px 0 10px 0px;
  /*background: url("footer-bg.jpeg");*/
}
.ftco-footer .ftco-footer-logo {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.ftco-footer .ftco-footer-widget h2 {
  font-weight: normal;
  color: #111111;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
}

.ftco-footer .ftco-footer-widget ul li a span {
  color: #111111;
}
.ftco-footer .ftco-info{
  width: 100%;
  color: #333333;
}
.ftco-footer .ftco-footer-widget .open-hours li span {
  width: 100%;
  color: #333333;
}
.ftco-footer .ftco-footer-widget .thumb a.thumb-menu {
  width: 100%;
  height: 100px;
  display: block;
}

.ftco-footer p {
  color: #333333;
}

.ftco-footer a {
  color: rgba(255, 255, 255, 0.7);
}

.ftco-footer a:hover {
  color: #ffffff;
}

.ftco-footer .ftco-heading-2 {
  font-size: 17px;
  font-weight: 700;
  color: #111;
}

.ftco-footer .categories li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ftco-footer .categories li a span {
  color: rgba(255, 255, 255, 0.5) !important;
}

.ftco-footer .subscribe-form .form-group {
  position: relative;
  margin-bottom: 0;
  border-radius: 0;
}

.ftco-footer .subscribe-form .form-group input {
    width: 100%;
    background: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid #999;
    color: #000 !important;
    font-size: 16px;
    border-radius: 5px;
}

.ftco-footer .subscribe-form .form-group .submit {
  color: #ffffff !important;
  font-size: 16px;
  background: #ff4141 !important;
  border: none !important;
  border-radius: 2px;
}

.ftco-footer .subscribe-form .form-group .submit:hover {
  cursor: pointer;
}

.ftco-footer .subscribe-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.8);
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}
.ftco-footer-social li a {
  height: 40px;
  width: 40px;
  display: block;
  float: left;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  position: relative;
}

.ftco-footer-social li a:hover {
  background: #c8a97e;
}

.ftco-footer-social li a span {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ftco-footer-social li .fa:hover {
  color: #000000;
}
/* footer section ends*/

/* top bar css code */
.red{
  color:#f70505;
}
nav{
  position: absolute;
  background:transparent;
  height: 80px;
  width: 100%;
  z-index: 1
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  cursor: pointer;
}
nav ul li a{
  color: white;
  font-size: 14px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
}
nav ul li a:hover{
  /*color: #ff4141;*/
  cursor: pointer;
}
a.active,a:hover{
  /*background: #000000;*/
  text-decoration: none;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 768px){

  .search{
    margin-left: 15% !important;
    width: 85% !important;
    margin-bottom: -40px !important;
  }
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
.insta-img{
    display: flex;
    gap: 10px;
    margin: 10px 0px;
}
@media (min-width: 859px){
  .descFontWeight{
    height: 60px;
    overflow: hidden;
    font-size: 15px;
    font-weight: 400;
    color: #333;
  }
  .hidden-sm{
    display: none;
  }
}
@media (max-width: 858px){
  .container-fluid{
    justify-content: center;
  }
  .topicon{
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    margin-top: 100px;
  }
  .descFontWeight{
    font-size: 15px;
    height: 80px;
    overflow: hidden;
    font-weight: 400;
    color: #333;
  }
  .mobile-floating-logo{
    width: 200px !important;    
    margin-top:  0px !important;
    margin-left:  10px !important;
  }
  .mobile-logo{
    width: 200px !important;
    margin-top:  10px !important;
  }
   .mobile-menu{
      flex:  0 0 100%;
      max-width: 100%;
   }
  .intro_content{
    right: 0px;
  }
  .subheading-special{
      font-size:  60px !important;
  }
  .leaveMsg{  
      min-width: calc(100% - 40px) !important;
      height: calc(100% - 40px);
      overflow: auto;
  }
  .hidden-xs{
    display: none;
  }
  .checkbtn{
    display: block;
  }
  .mobile-aboutus{
    flex-direction: column;
  }
  .intro_col{
    margin-bottom: 10px;
  }
  .mobile-aboutus .testimony-wrap{
    width: calc(100% - 40px);
    margin: 0px 20px;
  }
  .ftco-counter{
    padding-top: 0px;
  }
  .ftco-counter .text{
    text-align: center;
  }
  .mobile-websitestory{
    margin-top: 20px;
  }
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ffeaea;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    padding-left: 0px;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 18px !important;
    color: #333 !important;
    font-weight: 400;
  }
  a:hover,a.active{
    background: none;
    color: #000000;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

/* chellas logo*/
.chellasBgPicture{
  width: 100%;
  height: 535px !important;
  object-fit: cover;

}
.chellasicon{
  border-radius: 100px;
  width: 65px;
  box-shadow: 0px 0px 9px 0px #fff;
  margin-left: 30px;
  margin-top: -15px;
}
#floatingnavbar .chellasnamelogo{
    border-radius: 100px;
    width: 200px;
    box-shadow: 0px 0px 9px 0px #fff;
    margin-left: 18px;
    margin-top: 0px;
}
.chellasnamelogo{
    border-radius: 100px;
    width: 200px;
    box-shadow: 0px 0px 9px 0px #fff;
    margin-left: 18px;
    margin-top: 8px;
}
/*freeze and loading*/
.freezeLayer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.2);
    z-index: 2;
}
.freezeBackground{
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .9;
    z-index: 2;
    height: auto;
    background: #000;
    opacity: .5;
}
.loadgif{
    display: none;
    top: 340px;
    left: 650px;
    position: absolute;
    z-index: 5;
}
.loadfreeze{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .9;
    z-index: 5;
    height: auto;
    background: #000;
    opacity: .5;
}
.dN{
    display: none;
}
html {margin: 0; height: 100%; overflow: initial;}
body.noScroll{overflow: hidden;}
.leaveMsg {    
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: #fff;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #eee;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    min-width: 550px;
}
.fL{
    float: left;
}
.fR{
    float: right;
}
/*button css*/
.button {
  border-radius: 4px;
  background-color: #ff4140;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*floating bar css*/
.floatingnavbar{
  position: fixed;
  background: #ff9090;
  display: block;
  height: 80px;
  top: -150px;
  width: 100%;
  z-index: 2;
  transition: top 0.8s;
}
.shownavbar{
  top: 0px;
}
.floatingnavbar a { 
  color: #000;
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
}
.floatingnavbar:hover{
  color : #ffffff
}

.footer-copyright{
  text-align: center;
  color:#000;
}
@media (max-width: 768px){
  .payment-icon-list {
      justify-content: center;
  }
}
.payment-icon-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: calc(var(--gutter)/2) -5px -10px;
    line-height: 0;    
    padding: 10px;
    justify-content: center;
}

.ftco-footer-social li a{
  background-color: #ff4141;  
}

.ftco-footer-social li a span{
  color:  white !important;
}

/** testimonal wrap */
.testimony-wrap {
  display: block;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 20px;
  border-radius: 4px;
  /*color: rgba(255, 255, 255, 0.7);*/
  box-shadow: 3px 3px 0px 0px rgb(255 255 255 / 27%);
}
.testimony-wrap .text p {
  font-style: italic;
}

.testimony-wrap .icon {
  position: absolute;
  top: -20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ff2377;
}

.testimony-wrap .icon span {
  color: #ffffff;
}

.testimony-wrap .user-img {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
}

.testimony-wrap .name {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 0;
  color: #ffffff;
  font-style: normal !important;
}

.testimony-wrap .position {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}


.testimony-section {
  position: relative;
  z-index: 0;
  background-position: center center !important;
  position: relative;
  background-attachment: fixed;
}

.testimony-section .img-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
}
.categoryOverlay{
   position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: #e9dacb;
  opacity: 0.7;
}
.testimony-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: #000;
  opacity: 0.7;
}
.testimony-section .owl-carousel {
  margin: 0;
}

.testimony-section .owl-carousel .owl-stage-outer {
  padding: 1.5em 0 2em 0;
  position: relative;
}
.testimony-section .owl-nav {
  position: absolute;
  top: 100%;
  width: 100%;
}

.testimony-section .owl-nav .owl-prev,
.testimony-section .owl-nav .owl-next {
  position: absolute;
  transform: translateY(-50%);
  margin-top: -10px;
  outline: none !important;
  transition: all 0.3s ease;
  opacity: 0;
}

.testimony-section .owl-nav .owl-prev span::before,
.testimony-section .owl-nav .owl-next span::before {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.testimony-section .owl-nav .owl-prev:hover span::before,
.testimony-section .owl-nav .owl-prev:focus span::before,
.testimony-section .owl-nav .owl-next:hover span::before,
.testimony-section .owl-nav .owl-next:focus span::before {
  color: #ffffff;
}
.testimony-section .owl-nav .owl-prev {
  left: 50%;
  margin-left: -80px;
}
.testimony-section .owl-nav .owl-next {
  right: 50%;
  margin-right: -80px;
}

.testimony-section .owl-dots {
  text-align: center;
}

.testimony-section .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.253);
}

.testimony-section .owl-dots .owl-dot.active {
  background: #ff2377;
}

.testimony-wrap {
  display: block;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 20px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
}
.testimony-wrap .text p {
  font-style: italic;
}

.testimony-wrap .icon {
  position: absolute;
  top: -20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ff2377;
}

.testimony-wrap .icon span {
  color: #ffffff;
}

.testimony-wrap .user-img {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
}

.testimony-wrap .name {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 0;
  color: #ffffff;
  font-style: normal !important;
}

.testimony-wrap .position {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
.colorRed{
  color:red;
}

.menus{
  padding: 10px !important;
  display: flex !important;
  flex-direction: column;
  width: 300px;  
  margin:  auto;
}

.menus .menu-img{
  width: unset;
  object-fit: cover;
}
.menus .img-club-1{
}
.menus .img-club-1 .menu-img{
    height: 298px;
    width: 300px;
    object-fit: cover;
}
.menus .img-club-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}
.menus .img-club-2 .menu-img{
    height: 145px;
    width: 300px;
    object-fit: cover;
}
.menus .img-club-2 .menu-img:nth-child(1){
  margin-bottom: 17px;
}
.menus .img-club-2 .menu-img:nth-child(2){
  border-radius: 0px;
}
.menus .img-club-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -13px;
}
.menus .img-club-3 .menu-img{
    height: 147px;
    width: 147px;
    margin: 2px;
}
.menus .img-club-3 .menu-img:nth-child(1){
  border-radius: 5px 0px 5px 0px;
}
.menus .img-club-3 .menu-img:nth-child(2){
  border-radius: 0px 5px 0px 5px;
}
.menus .img-club-3 .menu-img:nth-child(3){
  width: 300px;
  border-radius: 0px 0px 0px 0px;
  object-fit: cover;
}
.menus .img-club-4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -13px;
}
.menus .img-club-4 .menu-img{
    height: 147px;
    width: 147px;
    margin: 2px;
}
.menus .img-club-4 .menu-img:nth-child(1){
  border-radius: 5px 0px 5px 0px;
}
.menus .img-club-4 .menu-img:nth-child(2){
  border-radius: 0px 5px 0px 5px;
}
.menus .img-club-4 .menu-img:nth-child(3){
  border-radius: 0px 5px 0px 0px
}
.menus .img-club-4 .menu-img:nth-child(4){
  border-radius: 5px 0px 0px 0px
}
.search {
  position: relative;
  display: flex;
  margin: 0 0 0 410px
}

.searchTerm {
  width: 60%;
  border: 1px solid #ccc;
  border-right: none;
  padding: 5px;
  height: 44px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #000;
  text-indent: 10px;
}

.searchTerm:focus{
  color: #000;
}

.searchButton {
  width: 40px;
  height: 44px;
  border: 1px solid #ccc;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
  outline: none;
}

.topicon{   
    text-align: center;
    position: relative;
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
    box-sizing: border-box;    
    margin-left: -1rem;
}
.sprite-svg{    
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 550%;
    width: 90px;
    height: 90px;
    -webkit-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
    background-position-y: 0 !important;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    position: relative;
}
.topicon a{
  color : #000;
}
.notfound{
  width:100px;
}
.aboutImg{
  width : 30%;
}
.colorBlack{
  color: #000000;
}

#noResultsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transform: translate(-50%);
    margin-left: calc(50% - 50px);
}

#noResultsDiv.dN{
  display: none;  
}

.about-main-content-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.about-main-content{
  font-size: 20px;
  width: 65%;
  color: rgba(255, 255, 255, 0.7);
  margin: 0px 20px;
  height: 333px;
  padding: 50px 20px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-indent: 40px;
  font-style: italic;  
  overflow: scroll;
}

@media (max-width: 768px){
  .about-main-content-wrapper{
    flex-direction: column;
  }
  .aboutImg{
    width: 89%;
    margin-bottom: 40px;
  }
  .about-main-content{
    width: 89%;
    margin: 0px;
  } 
}
.categoryIter{
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;  
}
.categoryIter:hover{
  transform: translate(0px, -10px);

}